appdirs==1.4.3
arrow==0.15.5
asn1crypto==1.2.0
attrs==19.3.0
binaryornot==0.4.4
black==19.10b0
certifi==2019.9.11
cffi==1.13.0
chardet==3.0.4
Click==7.0
conda==4.7.12
conda-package-handling==1.6.0
cookiecutter==1.7.0
cryptography==2.8
future==0.18.2
idna==2.8
Jinja2==2.11.1
jinja2-time==0.2.0
MarkupSafe==1.1.1
pathspec==0.7.0
pipenv==2022.1.8
poyo==0.5.0
pycosat==0.6.3
pycparser==2.19
pyOpenSSL==19.0.0
PySocks==1.7.1
python-dateutil==2.8.1
regex==2020.1.8
requests==2.22.0
ruamel-yaml==0.15.46
six==1.12.0
td-watson==1.8.0
toml==0.10.0
tqdm==4.36.1
typed-ast==1.4.1
urllib3==1.24.2
virtualenv==16.7.7
virtualenv-clone==0.5.3
whichcraft==0.6.1
youtube-dl==2020.3.24
